name: check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        script:
          - check.bash
          - check_fuse.bash
          - check_contour.bash
          - check_contour_fuse.bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download model
        shell: bash
        run: |
          wget https://github.com/Hiroshiba/vv_core_inference/releases/download/0.0.2/model.zip
          unzip model.zip

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "pip"

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        shell: bash
        run: |
          bash ${{ matrix.script }}
